[package]
name = "sv2-bridge"
version = "0.1.1"
edition = "2021"

[dependencies]
tokio = { version = "1", features = ["full"] }
serde = { version = "1", features = ["derive"] }
serde_json = "1"
anyhow = "1"

rg_protocol = { package = "rg-protocol", path = "../rg-protocol" }
